/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }



/* barvy */ 
$c-primary: #F03000;
$c-background-secondary: #E5E5E5;
$c-text-primary: #000000;
$c-text-secondary: #888888;
$c-white: #FFFFFF;

$c-lightgrey: #F0F0F0;
$c-grey: #80808080;

$c-footer: #444444;


$font-basic: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


body {
    padding: 20px;
    font-family: $font-basic;
    font-size: 16px;
}

img {
    width: 100%;
}

.header {

    &__logo {
        height: 30px;
        margin: 36px auto 10px auto;
        display: block;
    }    

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        
        &__logo {
            flex: 0 0 235px;
            display: flex;
            justify-content: flex-start;
            margin-left: 0;
        }    
    }

}

.main-nav {
    padding: 0;
     
    &__item {
        list-style-type: none;
        padding: 20px;
    }

    &__item:hover,
    &__item:focus {
        background-color: $c-primary;
        .main-nav__link {   
            color: $c-white;
        }
    }

    &__link {
        text-decoration: none;
        color: $c-primary;
        font-size: 18px;
        text-align: center;
    }

    @media screen and (min-width:480px) {
        display: flex;    

        &__item {
            flex: 1 0 calc(100%/3);  
            text-align: center;
        }
    }    

}

.offer {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(320px, 1fr));
    grid-template-rows: auto;
    gap: 20px;

    &__card {
        position: relative;
        min-height: 150px;
            

        &__price {
            margin: 0;
            position: absolute;
            left: 20px;
            top: 20px;
            padding: 10px;
            background-color: $c-primary;
            color: $c-white;
            font-size: 18px;
        }
      
        &__title {
            position: absolute;
            bottom: 23px;
            left: 20px;
            color: $c-white;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }    

        &__description {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: $c-white;
            margin: 0;
        }
        
    }    

    
    @media screen and (min-width:768px) {
                
        &__card:nth-child(3n-2) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        &__card__image {
            height: 100%;        
        }
        
    }        

    @media screen and (min-width:960px) {
        
        margin-bottom: 50px;

        &__card {
            grid-column: 3 / 4;
        }
        
        &__card:nth-child(3n-2) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }

    }            
}

.offer__card:first-child {
    
    min-height: 240px;

    .offer__card__title {
        position: absolute;
        bottom: 59px;
        left: 20px;
        color: $c-white;
        font-size: 28px;
        font-weight: 600;
        
    }
         
}

.service {
    margin: 30px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media screen and (min-width:768px) {
        margin: 50px 0;
        
    }

    @media screen and (min-width:960px) {
        grid-template-columns: repeat(4, 1fr);

        .service__card {
            display: block;
            text-align: center;
            
        .service__card__img {
            margin: auto;
            }
        } 

    }

    &__card {
        grid-column: span 2;
        background-color: $c-lightgrey;
        padding: 20px;
        display: flex;
        
        @media screen and (min-width:768px) {
            grid-column: span 1;

        }   

        
        &__text {
            flex: 0 0 75%;
        }
        
        &__figure {
            flex: 0 0 25%;
            justify-self: center;
            margin: 0;
        }

        &__img {
            height: 40px; 
            margin-top: 20px;
        }

        &__title {
            color: $c-primary;
            font-size: 18px;
        }

        &__descrition {
            font-family: $font-secondary;
            margin: 0;
        }
    
    }


}

.news {
    &__item {
        background-color: $c-lightgrey;
        padding: 20px;
        margin: 10px 0;

        &__date {
            font-size: 18px;
            color: $c-text-secondary;
            margin: 0;
        }

        &__title {
            color: $c-primary;
            margin: 10px 0;
        }

        &__description {
            margin: 10px 0;
        }
    }    

    @media screen and (min-width:960px) {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 20px;
        
    }
}

.footer {
    background-color: $c-footer;
    color: $c-white;
    text-align: center;
    height: 60px;
    vertical-align: center;
    &__body {
        margin: 0;
        padding: 20px; 
    }
}