/* barvy */ 
$c-primary: #F03000;
$c-background-secondary: #E5E5E5;
$c-text-primary: #000000;
$c-text-secondary: #888888;
$c-white: #FFFFFF;

$c-lightgrey: #F0F0F0;
$c-grey: #80808080;

$c-footer: #444444;

/*fonty
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
